{% extends "person/base.html" %}

{% block title %}
    Create Person | Person Website
{% endblock %}


{% block content %}
    <form name="create_person" action="{% url 'person_create' %}" method="post">
        {% csrf_token %}
        <label for="f_name">First Name:</label>
        <input type="text" id="f_name" name="f_name" required><br>
    
        <label for="m_name">Middle Name:</label>
        <input type="text" id="m_name" name="m_name"><br>
    
        <label for="l_name">Last Name:</label>
        <input type="text" id="l_name" name="l_name" required><br>
    
        <label>Sex:</label>
        <input type="radio" id="is_male" name="s_input" value="male" required>
        <label for="is_male">Male</label>
        <input type="radio" id="is_female" name="s_input" value="female" required>
        <label for="is_female">Female</label>
        <input type="radio" id="prefer_not_to_say" name="s_input" value="other" required>
        <label for="prefer_not_to_say">Prefer Not To Say</label><br>
    
        <div style="text-align: right;">
        <input type="submit" value="Create Person">
        </div>
    </form>
  
{% endblock %}