{% extends "person/base.html" %}

{% block title %}
    Confirm Delete All
{% endblock %}

{% block content %}

<div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 800px; height: 250px;">
    <div class="text-center">
        <div class="card-deck m-2 p-1">
        <div class="card bg-light">
            <div class="card-body">
            <h5 class="card-title">Delete All Persons</h5>
            <p class="card-text">Are you sure you want to delete all persons from the database?</p>
            <a href="{% url 'person_list_view' %}" class="btn btn-outline-secondary">Cancel</a>
            <a href="{% url 'person_delete_all_confirm' %}" class="btn btn-danger">Delete</a>
            </div>
        </div>
        </div>
    </div>
</div>

{% endblock %}